<html>
  <head></head>
  <body>

    <p>Guess the secret number!  Tries left:  <%= MAX_GUESSES-@@guesses%></p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    <p>
    <p><%=@@cheat_string%></p>
    </p>
    <p style='color:<%=@@color%>'><%= message %></p>
    <p></p>
    <p><%=@@m2%></p>
  </body>
</html>
